.movie-container {
  position: relative;
  padding: 0 15px;
  .main-block {
    display: flex;
    margin: 12px 0;
  }
  .avatar {
    width: 64px;
    height: 90px;
    position: relative;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      background-color: transparent;
      margin: 0;
    }
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    .content {
      text-align: left;
      font-size: 14px;
      color: #777;
    }
    .movie-title {
      font-size: 17px;
      color: #333;
      font-weight: 700;
      flex-shrink: 1;
      margin-bottom: 7px;
    }
    .actor,
    .director {
      font-size: 13px;
      line-height: 1;
      margin-top: 6px;
    }
  }
}